Predicates: dog animal friendly angry loves person man partOf tail 
Variables: x5 x7 x0 x2 x1 x4 x6 x3 
Constants: SK0 Mike Kim 
Functions: SKF1 SKF0 
Clauses:
!dog(x0) animal(x0) 
!man(x5) person(x5) 
!person(x6) animal(x6) 
person(SKF0(x1)) !dog(x1) !friendly(x1) 
loves(SKF0(x2),x2) !dog(x2) !friendly(x2) 
!dog(x3) partOf(x3,SKF1(x3)) 
!dog(x4) tail(SKF1(x4)) 
man(SK0) 
angry(SK0) 
dog(Kim) 
friendly(Kim) 
man(Mike) 
!tail(x7) !partOf(x7,Kim) 
