Predicates: Dry Day Sprinkler Bright Rain Night Clear Wet 
Variables: t2 t0 t7 t3 t4 t6 t1 t8 t5 
Constants: 
Functions: 
Clauses:
!Day(t0) !Night(t0) 
Day(t1) Night(t1) 
!Clear(t2) Dry(t2) 
!Rain(t5) Wet(t5) 
!Wet(t6) !Dry(t6) 
Rain(t7) 
Clear(t8) 
Sprinkler(t3) !Day(t3) !Dry(t3) 
Bright(t4) !Day(t4) !Dry(t4) 
